<html>
  <head>
    <title>Sexy Sudoku</title>
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="\sudoku">
      <%= yield %>
    </div>
  </body> 
</html>